//
// Site specific styles
//
// First imports the theme and then allows you to
// add your custom styles
//
// You can use all Bootstrap variables and mixins
// that are provided by the theme
//
// --------------------------------------------------

// fonty
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,900,200);
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro);

// Import flat bootstrap theme
@import "themes/birthday/theme";

// theme colors, yeah I know they're not semantic, deal with it
@red: #EE3741;
@lt-pink: #FDEAEC;
@purple: #552D84;
@lt-grey: #E8D9DE;
@blue: #2C96BF;

body {
  background-color: @purple;
  min-height: 100vh;
}

.wrapper {
  background-color: @lt-pink;
}
.row {
    margin: 0;
}

header {
    background-color: @red;
    color: @lt-pink;
    padding: 20px 0;

    h1 {
        text-transform: lowercase;
        .django {
            font-size: 120px;
            font-weight: 700;
            display: block;
        }
        .birthday {
            font-size: 70px;
            font-weight: 700;
            margin-top: -10px;
            display: block
        }
    }

    p {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    .when {
        border: 8px @blue solid;
        padding: 14px;
        width: 9em;
        float: left;
        margin-top: -60px;
        margin-left: 20px;
    }
    .where {
        width: 282px;
        height: 155px;
        background: url('../im/ks.png');
        line-height: 155px;
        float: left;
    }
}

.navbar-default {
    background: inherit;
    border: 0px none;

    .navbar-brand, .navbar-nav>li>a {
        color: @lt-pink;
    }

    .navbar-nav {
        margin-top: 20px;
    }
}

.homepage-navbar {
    margin-bottom: -40px;
    z-index: 999;
    .navbar-nav {
        margin: 0;
    }
}

.main {
    padding: 24px 0;
    border-style: solid;
    border-width: 24px 0px 0px;
    border-image: url(../im/red-band.png) 24 0 fill repeat;

    dt {
        margin-top: 1em;
    }
}

footer {
    background-color: @purple;
    color: @lt-grey;
    border-style: solid;
    border-width: 24px 0px 0px;
    border-image: url(../im/purple-band.png) 24 0 0 repeat stretch;
    border-image-outset: 24px 0 0;
    padding: 24px 0 48px 0;
    margin: 24px 0 0 0;
}

.tagline {
    font-size: 13px;
}

.snowfall-flakes {
    opacity: 0.8;
}

.tito-tickets-button {
    &:extend(.btn);
    &:extend(.btn-primary);
    &:extend(.btn-lg);
}

.thesocial {
    margin-left: -7px;  // pull the left margin over so the first icon lines up
    a {
        color: #555;
        :hover {
            color: @blue;
        }
    }
}