doctype html
html
  head
    meta(charset='utf8')
    link(rel='stylesheet', href='#{baseUrl}/css/global.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro')
  body
    //- header
    block content
    //- footer
    script(src='#{baseUrl}/js/jquery/jquery.min.js')
    script(src='#{baseUrl}/js/bootstrap/bootstrap.js')