doctype html
html
  head
    meta(charset='utf8')
    link(rel='stylesheet', href='#{baseUrl}/css/global.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro')
  body
    header
      block header
        nav.navbar.navbar-default
          div.container
            div.navbar-header
              a.navbar-brand(href="/")
                img(src="/im/ks.png" alt="Django Birthday", height=64)
            div
              ul.nav.navbar-nav
                li
                  a(href="/schedule") schedule
                li
                  a(href="/schedule") travel
                li
                  a(href="/guide") guide
                li
                  a(href="/conduct") code of conduct

    block content

    script(src='#{baseUrl}/js/jquery/jquery.min.js')
    script(src='#{baseUrl}/js/bootstrap/bootstrap.js')

    block footer
