doctype html
html
  head
    block head
      meta(charset='utf8')
      link(rel='stylesheet', href='#{baseUrl}/css/global.css')
  body
    .wrapper
      header
        block header
          nav.navbar.navbar-default
            div.container
              div.navbar-header
                a.navbar-brand(href="/")
                  img(src="/im/ks.png" alt="Django Birthday", height=64)
              div
                ul.nav.navbar-nav
                  li
                    a(href="/schedule") schedule
                  li
                    a(href="/speak") participate
                  li
                    a(href="/travel") travel
                  li
                    a(href="/guide") guide
                  li
                    a(href="/conduct") code of conduct

      .main
        block content

      footer
        block footer
          .container.tagline
            p.text-center
              | made with &#9829; in lawrence ks by <a href="https://revsys.com/">revolution systems</a>.

    block afterbody
      script(src='#{baseUrl}/js/jquery/jquery.min.js')
      script(src='#{baseUrl}/js/bootstrap/bootstrap.js')

