extends base.jade

block content
  .container
    h1 Code of conduct
    h4 Short version</h4>
    p.
      Django Birthday is dedicated to providing a harassment-free conference
      experience for everyone, regardless of gender, gender identity and
      expression, sexual orientation, disability, physical appearance, body
      size, race, age or religion.. We do not tolerate harassment of
      conference participants in any form. Sexual language and imagery is not
      appropriate for any conference venue, including talks. Conference
      participants violating these rules may be sanctioned or expelled from
      the conference without a refund at the discretion of the conference
      organizers.

    h4 Long version
    p.
      Django Birthday is dedicated to providing a harassment-free conference
      experience for everyone, regardless of gender, gender identity and
      expression, sexual orientation, disability, physical appearance, body
      size, race, age or religion.. We do not tolerate harassment of
      conference participants in any form. Sexual language and imagery is not
      appropriate for any conference venue, including talks. Conference
      participants violating these rules may be sanctioned or expelled from
      the conference without a refund at the discretion of the conference
      organizers.
    p.
      Harassment includes, but is not limited to, verbal comments that
      reinforce social structures of domination related to gender, gender
      identity and expression, sexual orientation, disability, physical
      appearance, body size, race, age, religion,, sexual images in public
      spaces, deliberate intimidation, stalking, following, harassing
      photography or recording, sustained disruption of talks or other events,
      inappropriate physical contact, and unwelcome sexual attention.
      <strong>Participants asked to stop any harassing behavior are expected
      to comply immediately</strong>.
    p.
      Exhibitors, sponsors, or and similar groups are also subject to the
      anti-harassment policy. In particular, exhibitors and sponsors should
      not use sexualized images, activities, or other material.
    p.
      If a participant engages in harassing behavior, the conference
      organizers may take any action they deem appropriate, including warning
      the offender or expulsion from the conference with no refund. <strong>If
      you are being harassed, notice that someone else is being harassed, or
      have any other concerns, please contact a member of conference staff
      immediately.</strong> Conference staff can be identified by special
      "staff" badges.
    p.
      Conference staff will be happy to help participants contact hotel/venue
      security or local law enforcement, provide escorts, or otherwise assist
      those experiencing harassment to feel safe for the duration of the
      conference. We value your attendance.
    p.
      We expect participants to follow these rules at all conference venues
      and conference-related social events.

    h4 Contact information
    h5 Organizer contacts
    ul
      li Jacob Kaplan-Moss - jacob@jacobian.org - 785-766-2474
      li Jeff Triplett - jeff.triplett@gmail.com

    h5 Local law enforcement - Lawrence Police Department:
    ul
      li Non-emergency: 978-794-5900
      li Emergency: 911

    h5 Local sexual assault hot line
    ul 
      li.
        <a href="http://www.gadugisafecenter.org/">GaDuGi SafeCenter</a>: 785-843-8985

    h5 Local emergency and non-emergency medical:
    ul
      li.
        <a href="http://www.lmh.org/">Lawrence Memorial Hospital</a>
        (emergency/non-emergency): 785-505-5000
      li.
        <a href="http://urgentcarelawrenceks.com/">Lawrence Prompt Care</a>
        (walk-in urgent care): 785-838-1514
      li.
        <a href="http://firstmedpa.com/">First Med</a> (walk-in clinic): 785-865-5300

    h5 Local taxi
    li.
      <a href="http://www.jayhawktaxionline.com/Home.html">Jayhawk Taxi</a>: 785-843-8294

    h4 Thanks
    p.
      This anti-harassment policy is based on the 
      <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment">
      example policy from the Geek Feminism wiki</a> created by the 
      <a href="http://adainitiative.org">Ada Initiative</a> and other 
      volunteers.