extends base.jade

block content
  .container
    .jumbotron
      h1 Conference
      p Liberty Hall

    .row
      .col-md-12.bg-primary
        h2 Friday / July 9th
        h3 Act I: Welcome to Lawrence!

    .row
      .col-md-2
        p 7:00
          span pm
      .col-md-10
        h3 Group meetup!

      .col-md-12
        div.alert.alert-danger Do we want to do this?

      .col-md-2
        p 7:30
          span pm
      .col-md-10
        h3 Progressive dinner?
        ul
          li Start FSB Appetizers
          li 715 Salad etc
          li Limestone salad or pizza
          li End Merchants dessert drinks
          li Walking, so more spots could be added

      .col-md-2
        p 11:00
          span pm
      .col-md-10
        h3 BED SLEEP ENJOY!

    .row
      .col-md-12.bg-primary
        h2 Saturday / July 10th
        h3 Act II: The Conference

    .row
      .col-md-2
        p 8:00
          span am
      .col-md-10
        h3 Registration
        p Grab your badge, some coffee, and find a seat.

    .row
      .col-md-2
        p 8:50
          span am
      .col-md-10
        h3 Opening Comments
        p It's time to open the conference.

    .row
      .col-md-2
        p 9:00
          span am
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk 1 description

    .row
      .col-md-2
        p 9:30
          span am
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk 2 description

    .row
      .col-md-2
        p 10:00
          span am
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk 2 description

    .row
      .col-md-2
        p 10:30
          span am
      .col-md-10
        h3 Coffee break

    .row
      .col-md-2
        p 11:00
          span am
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 11:30
          span am
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 12:00
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 12:30
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 1:30
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 2:00
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 2:30
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 3:00
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 3:30
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 4:00
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 4:30
          span pm
      .col-md-10
        h3 First Lastname
        h4 Your Company
        p Talk (n) description

    .row
      .col-md-2
        p 5:00
          span pm
      .col-md-10
        h3 Closing

    .row
      .col-md-12
        div.alert.alert-danger Do we want to do this? <strong>Carnegie</strong> isn't cheap?

      .col-md-2
        p 7:00
          span pm
      .col-md-10
        h3 Birthday Party
        h4 Carnegie Building
        p Enjoy dinner and cake with us. Catering from KC Joe's BBQ.

    .row
      .col-md-12.bg-primary
        h2 Sunday / July 11th
        h3 Act III: Sprint and See Lawrence!

    .row

      .col-md-12
        div.alert.alert-danger All of Sunday needs planned.

      .col-md-2
        p 9:00
          span am
      .col-md-10
        h3 Possible Library?

      .col-md-2
        p 10:00
          span am
      .col-md-10
        h3 Tour Lawrence Journal-World?
        p Who can make this happen?

      .col-md-2
        p 12:00
          span pm
      .col-md-10
        h3 Sprint!
        p 12pm might the earliest that we may access the Library?

      .col-md-2
        p 7:00
          span pm
      .col-md-10
        h3 Go home!
        p Unless you don't then maybe we plan something informal!

    .row
      .col-md-12.bg-primary
        p Footer containing important information
