extends base.jade

block pagetitle
  | Financials - Django Birthday

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Financials
        p.
          As part of our commitment to transparancy, this page details the 
          finances of Django Birthday.
        p.
          Django Birthday is operated by Revolution Systems, LLC. Revsys is a
          for-profit business, but Django Birthday is not designed as a
          revenue-generating venture. The ticket costs have been calculated
          to aim to cover costs.
        p.
          If Django Birthday ends up profitable, Revsys will donate at least
          75% of the profits to the Django Software Foundation, DjangoGirls, or 
          a similar Django-related non-profit. The remaining profits will be
          spent at The Sandbar<sup>†</sup>.
        p.
          Once the event is over, we will publish our budget on this page. (Why
          not before? Because it's in-flux and dependant on attendance, and we
          want to publish what we *actually* spend, not what we *plan* to
          spend).
        p.text-muted.small.
          † Joking! Mostly.