extends base.jade

block content
  .container
    .jumbotron
        h1 Welcome to Lawrence
        p.
          We love this city, and we want you to experience what we love about
          Lawrence while you are here. Here are our picks which are close to
          Liberty Hall the Django Birthday venue.

    .row
      .col-md-12
        h2 Coffee

        h3 La Prima Tazza
        address 835 Massachusetts St
        p [write something about me]
        ul.list-inline
          li <a href="">map</a>
          li <a href="https://foursquare.com/v/la-prima-tazza/4b2ff7c9f964a52092f324e3">4SQ</a>
          li tea

        h3 Henry's on Eighth
        address 11 E 8th St
        p [write something about me]
        ul.list-inline
          li <a href="">map</a>
          li <a href="https://foursquare.com/v/henrys-on-eighth/4adbca97f964a520ac2a21e3">4SQ</a>
          li tea

        h3 The Java Break
        address 17 E 7th St
        p [write something about me]
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://thejavabreak.com/home/">website</a>
          li <a href="https://foursquare.com/v/java-break/4a39fed3f964a520c89f1fe3">4SQ</a>
          li tea
          li sandwiches

        h3 Z's Divine Espresso
        address 10 E 9th St
        p [write something about me]
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://www.zsdivine.com/">website</a>
          li <a href="https://foursquare.com/v/zs-divine-espresso/4b083b41f964a520e50623e3">4SQ</a>
          li tea

    .row
      .col-md-12
        h2 Food

        h3 715
        address 715 Massachusetts St
        p Fresh local ingredients and libations.
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://715mass.com/">website</a>
          li <a href="https://foursquare.com/v/715-restaurant/4b75ad78f964a5204f1c2ee3">4SQ</a>

        h3 Free State Brewing Company
        address 636 Massachusetts St
        p Great food and an amazing brew pub.
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://www.freestatebrewing.com/">website</a>
          li <a href="https://foursquare.com/v/free-state-brewing-company/4ae48262f964a520229b21e3">4SQ</a>

        h3 Burger Stand at the Casbah
        address 803 Massachusetts St
        p Voted one of best burgers in the United States.
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://www.burgerstandrestaurants.com/">website</a>
          li <a href="https://foursquare.com/v/the-burger-stand-at-the-casbah/4c2e604aed37a593b4796503">4SQ</a>

        h3 Encore
        address 1007 Massachusetts St
        p Asian Restaurant, Indian Restaurant, and Vegetarian / Vegan Restaurant.
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://www.encore-cafe.com/">website</a>
          li <a href="https://foursquare.com/v/encore-cafe/4b4b4c9df964a520dc9626e3">4SQ</a>
          li vegan
          li vegetarian

        h3 Limestone Pizza
        address 814 Massachusetts St
        p Neoprairie Pizzas at their finest.
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://limestonepkb.com/">website</a>
          li <a href="https://foursquare.com/v/limestone-pizza/53433170498e0220ab2a1a31">4SQ</a>

    .row
      .col-md-12
        h2 Booze

        h3 John Brown Underground
        address 7 E 7th St
        p [write something about me]
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://www.freelawrence.com/">website</a>
          li <a href="https://foursquare.com/v/john-browns-underground/53f7ee73498e83dc4cd4d79a">4SQ</a>
          li beer
          li cocktails
          li food

        h3 The Sandbar
        address 17 E 8th St
        p [write something about me]
        ul.list-inline
          li <a href="">map</a>
          li <a href="http://www.thesandbar.com/">website</a>
          li <a href="https://foursquare.com/v/the-sandbar/4ae237b0f964a520f28b21e3">4SQ</a>
          li beer
          li tropical drinks

        h3 The Bourgeois Pig
        address 6 E 9th St
        p [write something about me]
        ul.list-inline
          li <a href="">map</a>
          li <a href="https://foursquare.com/v/the-bourgeois-pig/49cc7a63f964a52081591fe3">4SQ</a>
          li beer
          li cocktails
          li coffee
          li food
