extends base.jade

block content
  .container
    .jumbotron
        h1 Welcome to Lawrence
        p.
          We love this city, and we want you to experience what we love about
          Lawrence while you are here. Here are our picks which are close to
          Liberty Hall the Django Birthday venue.

    .row
      .col-md-12.bg-primary
        h2 Coffee

    .row
      for place, slug in public.coffee._data
        include ./includes/place.jade

    .row
      .col-md-12.bg-primary
        h2 Food

    .row
      for place, slug in public.food._data
        include ./includes/place.jade

    .row
      .col-md-12.bg-primary
        h2 Booze

    .row
      for place, slug in public.booze._data
        include ./includes/place.jade
