extends base.jade

block content
  .container
    .jumbotron
        h1 Welcome to Lawrence
        p.
          We love this city, and we want you to experience what we love about
          Lawrence while you are here. Here are our picks which are close to
          Liberty Hall the Django Birthday venue.

    .row
      .col-md-12
        h2 Coffee

        h3 Henry's on Eighth
        address 11 E 8th St

        h3 The Java Break
        address 17 E 7th St
        ul
          .list-inline
            li <a href="">map</a>
            li <a href="http://thejavabreak.com/home/">website</a>
            li coffee
            li tea
            li sandwiches

    .row
      .col-md-12
        h2 Food

        h3 Free State Brewing Company
        address 636 Massachusetts St
        p Great food and an amazing brew pub.
        ul
          .list-inline
            li <a href="">map</a>

        h3 715
        address 715 Massachusetts St.
        p Fresh local ingredients and libations.
        ul
          .list-inline
            li <a href="">map</a>

        h3 Burger Stand at the Casbah
        address 803 Massachusetts St
        p Voted one of best burgers in the United States.
        ul
          .list-inline
            li <a href="">map</a>

    .row
      .col-md-12
        h2 Booze

        h3 The Bourgeois Pig
        address 6 E 9th St
        ul
          .list-inline
            li <a href="">map</a>
            li beer
            li cocktails
            li food

        h3 John Brown Underground
        address 7 E 7th St
        ul
          .list-inline
            li <a href="">map</a>
            li http://www.yelp.com/biz/john-brown-underground-lawrence-2
            li beer
            li cocktails
            li food

        h3 The Sandbar
        address 17 E 8th St
        ul
          .list-inline
            li <a href="">map</a>
            li beer
            li dive?
            li tropical
