extends base.jade

append head
  script(src="https://js.tito.io/v1" async)
  if environment == "development"
    script TitoDevelopmentMode = true;

block header
  nav.navbar.navbar-default.homepage-navbar
    .container
      div
        ul.nav.navbar-nav.navbar-right
          include ./includes/navbar-items.jade

  .container
    .row
      .col-lg-6.col-md-offset-2
        h1
          span.django Django
          span.birthday Birthday
        p.where Lawrence, KS
        p.when July 10th - 12th

block content
  .container
    .row
      .col-md-8
        h1 Happy birthday Django!
        p.lead.
          Time to celebrate! <a href="http://www.djangoproject.com/">Django</a>
          is turning <strong>10 years old</strong>
          this July. We're throwing a birthday party for it in the
          town where it was created.
        p.
          We'll post more details as we lock down plans, but <strong>tickets
          are limited</strong> so we wanted to give as much notice as possible
          for those of you who will be traveling long distances.

        h3(id="attend") Attend
        p.
          Django Birthday will be held <strong>Friday, July 10th - Sunday,
          12th</strong> in <strong>Lawrence, KS</strong>. We'll have a small
          get-together Friday night, talks and food and celebration on
          Saturday, and a day of sprints on Sunday.
        p.
          <tito-button event="django-birthday/2015">Register now - only $99 until July 1st!</tito-button>
          or <a href="/schedule">see the schedule page</a> for details.

        h3 Speak
        p.
          The theme of Django Birthday is a <strong>celebration of the
          Django community</strong>. Do you have a story about what Django
          or its community has meant to you? Come to Lawrence and tell us!
        p.
          See <a href="/speak">the call for speakers</a> for more details and
          guidelines, and to propose a session.

        h3 Guide
        p.
          <a href="/travel">See the travel guide</a> for info on getting to
          Lawrence and where to stay once you're here.
          Once you arrive, find a place to eat, drink, or hang out in our
           <a href="/guide">guide to downtown Lawrence</a>.

      .col-md-4
        h3 Presented By:
        p
          a(href="http://www.revsys.com/")
            img(src="/im/revsys-logo.png" alt="Revolution Systems")
        h3 Sponsored By:
          for sponsor in public.sponsors._data
            p
              a(href=sponsor.url)
                img(src="/sponsors/#{sponsor.image}", width="50%", alt="#{sponsor.name}")
        h3 Interested in Sponsoring?
        p.
          Sponsorships are crucial to us being able to provide not only a
          great conference but to help with travel scholarships for speakers
          and attendees.
        p
          | View our
          a(href="/sponsoring")  Sponsorship Information
          | .

append afterbody
  script(src='#{baseUrl}/js/snowfall.jquery.min.js')
  script.
    $(function() {
      $("header").snowfall({round: true, flakeColor: "#FDEAEC", flakeCount: 15, minSize: 5, maxSize: 25});
      $("header").snowfall({round: true, flakeColor: "#552D84", flakeCount: 15, minSize: 5, maxSize: 25});
      $("header").snowfall({round: true, flakeColor: "#2C96BF", flakeCount: 15, minSize: 5, maxSize: 25});
    });
