extends base.jade

block content
  header
    .container
      .row
        .col-lg-8.col-md-offset-2
          h1
            span.django Django
            span.birthday Birthday
          p.where Lawrence, KS
          p.when July 10th - 12th

  .main
    .container
      .row
        .col-md-8
          h1 Happy birthday Django!
          h3 Time to celebrate!
          p
            a(href="http://www.djangoproject.com/") Django
            |  is turning
            strong  10 years old
            |  this July and we're throwing a birthday party for it in the
            | town where it was created.
          p.
            More details will be posted on this site
            as they are available, but we wanted to give as much notice as
            possible for those of you who will be traveling long distances.
          h3 Conference Information
          h4 Friday July 10th
          ul
            li Small arrival get together
          h4 Saturday July 11th
          ul
            li Breakfast at venue
            li Morning talks
            li Lunch at venue
            li Afternoon talks
            li Dinner on your own in beautiful downtown Lawrence
            li Official Django Birthday Party
          h4 Sunday July 12th
          ul
            li Afternoon of sprints
          h3 Travel Information
          h4 Flight Information
          p
            | You'll be flying into
            a(href="http://www.flykci.com/") Kansas City International Airport
            | aka KCI.  Airport code is MCI which we all agree is confusing.
            | From there it's about a 45 minute drive to downtown Lawrence.
            | If possible we're going to try to work out some shuttle services
            | make this transition easier as once you're in Lawrence you won't
            | really have much of a need for a vehcile.
          h4 Hotel Information
          p.
            The conference venue and party location are both in downtown
            Lawrence. We suggest booking rooms at the historic Eldridge Hotel,
            the SpringHill Suites, or the TownePlace Suites.  All of which are
            within a couple of blocks of the action.
        .col-md-4
          h3 Presented By:
          p
            a(href="http://www.revsys.com/")
              img(src="/im/revsys-logo.png" alt="Revolution Systems")
          h3 Interested in Sponsoring?
          p
            | Contact
            a(href="mailto:frank@revsys.com")  Frank Wiles
            |  for more information.
          p.
            Sponsorships are crucial to us being able to provide not only a
            great conference but to help with travel scholarships for speakers
            and attendees.

  .secondary
    .container
      .row.content
        .col-md-4
          h3 Attend
          p Early-bird tickets on sale now, only $90!
          p
            a.btn.btn-default.btn-block(href="#") Register now
        .col-md-4
          h3 Speak
          p.
            We're looking for speakers who blah blah celebrate blah community
            blah especially whatever language from alterconf.
          p
            a.btn.btn-default.btn-block(href="#") Propose a session
        .col-md-4
          h3 Guide
          p Your guide to Lawrence, KS.