extends base.jade

block content
  header
    .container
      .row
        .col-lg-8.col-md-offset-2
          h1
            span.django Django
            span.birthday Birthday
          p.where Lawrence, KS
          p.when July 10th-12th

  .main
    .container
      .row
        .col-md-12
          h3 Happy birthday Django!
          h4 Time to celebrate!
          p.
            There really should be some introductory text here, explaining
            what the conference is, what we're doing, etc etc etc.
          h4 Indeed, there should.
          p.
            Yuuuup.

  .secondary
    .container
      .row.content
        .col-md-4
          h3 Attend
          p Early-bird tickets on sale now, only $90!
          p
            a.btn.btn-default.btn-block(href="#") Register now
        .col-md-4
          h3 Speak
          p.
            We're looking for speakers who blah blah celebrate blah community
            blah especially whatever language from alterconf.
          p
            a.btn.btn-default.btn-block(href="#") Propose a session
        .col-md-4
          h3 Guide
          p Your guide to Lawrence, KS.