extends base.jade

block header
  nav.navbar.navbar-default.homepage-navbar
    div.container
      div
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/schedule") schedule
          li
            a(href="/schedule") travel
          li
            a(href="/guide") guide
          li
            a(href="/conduct") code of conduct

  .container
    .row
      .col-lg-8.col-md-offset-2
        h1
          span.django Django
          span.birthday Birthday
        p.where Lawrence, KS
        p.when July 10th - 12th

block content
  .main
    .container
      .row
        .col-md-8
          h1 Happy birthday Django!
          h3 Time to celebrate!
          p.
            <a href="http://www.djangoproject.com/">Django</a>
            is turning <strong>10 years old</strong>
            this July. We're throwing a birthday party for it in the
            town where it was created.
          p.
            We'll post more details as we lock down plans, but <strong>tickets
            are limited</strong> so we wanted to give as much notice as possible
            for those of you who will be traveling long distances.

          .row
            .col-xs-6(style="padding-left: 0;")
              h3 Attend
              p Early-bird tickets on sale now, only $90!
              p
                a.btn.btn-primary.btn-block(href="#") Register now
            .col-xs-6
              h3 Speak
              p.
                We're looking for speakers who blah blah celebrate blah community
                blah especially whatever language from alterconf.
              p
                a.btn.btn-primary.btn-block(href="#") Propose a session

        .col-md-4
          h3 Presented By:
          p
            a(href="http://www.revsys.com/")
              img(src="/im/revsys-logo.png" alt="Revolution Systems")
          h3 Interested in Sponsoring?
          p.
            Sponsorships are crucial to us being able to provide not only a
            great conference but to help with travel scholarships for speakers
            and attendees.
          p
            | Contact
            a(href="mailto:frank@revsys.com")  Frank Wiles
            |  for more information.

  .secondary
    .container
      .row
        .col-md-4
          h3
            a(href="/schedule") Conference
          p.
            Django Birthday will be held <strong>Friday, July 10th - Sunday,
            12th</strong> in <strong>Lawrence, KS</strong>. We'll have a small
            get-together Friday night, talks and food and celebration on
            Saturday, and a day of sprints on Sunday.
          p
            a(href="/schedule") For details, see the schedule page.

        .col-md-4
          h3
            a(href="/travel") Travel information
          p.
            For info on getting to Lawrence, and where to stay once you're here,
            <a href="/travel">see our travel guide.</a>

        .col-md-4
          h3
            a(href="/guide") Guide
          p Your guide to Lawrence, KS.

block footer
  script(src='#{baseUrl}/js/snowfall.jquery.min.js')
  script.
    $(function() {
      $("header").snowfall({round: true, flakeColor: "#FDEAEC", flakeCount: 15, minSize: 5, maxSize: 25});
      $("header").snowfall({round: true, flakeColor: "#552F86", flakeCount: 15, minSize: 5, maxSize: 25});
      $("header").snowfall({round: true, flakeColor: "#2C96BF", flakeCount: 15, minSize: 5, maxSize: 25});
    });