extends base.jade

block pagetitle
  | Schedule - Django Birthday

block content
  .container
    .row
      .col-md-12
        h2 Conference Schedule

    .row
      .col-md-4
        h3 Friday, July 10th
        h4 Arrival Reception @ TBA
        p.
          Arrive in Lawrence, KS.

        h4 Dinner @ 7:30 p.m.
        p.
          We’ve made some reservations around town for small (max 8 people) 
          dinners. 
          <a href="https://docs.google.com/spreadsheets/d/1a7D-bS-EXGvIwrlW4cFdlYCyYXY5N6ezrSi6hDA44yA/edit#gid=0">If you’ll be around, sign up</a>.

      .col-md-4
        h3 Saturday, July 11th
        h4 Conference @ <a href="http://libertyhall.net/">Liberty Hall</a>
        addr: em 644 Massachussetts Street

        dl
          dt Light Breakfast @ 8:30 a.m.
          dd We'll start you off right with a light breakfast, including great coffee.

          dt Morning talks @ 9 a.m.
          dd Our first slate of <a href="/speakers">speakers</a>...

          dt Lunch @ 12:20 p.m.
          dd.
            <a href="http://www.joeskc.com/">The world's best barbeque</a>
            (or, for those with dietary restrictions, something equally awesome
            from one of the <a href="/guide">many restaurants in downtown
            Lawrence</a>).

          dt Afternoon talks @ 1:10 p.m.
          dd ... and our second slate of <a href="/speakers">speakers</a>.

        h4 Dinner @ <a href="/guide">a local restaurant</a>
        p.
          Head out, in small groups, to explore downtown and try one of our
          favorite places.

        h4 Block Party @ <a href="http://www.thesandbar.com/">The Sandbar</a>

        addr: em 8th Street between Massachusetts and New Hampshire St

        p The block party is free, family-friendly, and open to the public.

        dl
          dt 6 p.m. 
          dd Buskers including balloons and a robot

          dt Live music @ 7:30 p.m. 
          dd.
            Bands include Adrian Holovaty (co-creator of Django), Douglas 
            County Quintet, and Billy Ebeling

      .col-md-4
        h3 Sunday, July 12
        h4
          | Sprints @ 
          a(href='https://foursquare.com/v/carnegie-building/4d0108f8ba1da1cd6bea8b28') Carnegie Building
        abbr: em 200 West 9th Street
        p.
          Let's make Django better, together.
