extends base.jade

block pagetitle
  | Schedule - Django Birthday

block content
  .container
    .row
      .col-md-12
        h2 Conference Schedule

    .row
      .col-md-4
        h3 Friday, July 10th
        h4 Arrival Reception @ TBA
        p.
          Arrive in Lawrence, KS. Meet your fellow attendees, speakers, and
          organizers at an informal gathering.

      .col-md-4
        h3 Saturday, July 11th
        h4 Conference @ <a href="http://libertyhall.net/">Liberty Hall</a>

        dl
          dt Breakfast
          dd We'll start you off right with breakfast, including great coffee.

          dt Morning talks
          dd Our first slate of <a href="/speakers">speakers</a>...

          dt Lunch
          dd.
            <a href="http://www.joeskc.com/">The world's best barbeque</a>
            (or, for those with dietary restrictions, something equally awesome
            from one of the <a href="/guide">many restaurants in downtown
            Lawrence</a>).

          dt Afternoon talks
          dd ... and our second slate of <a href="/speakers">speakers</a>.

        h4 Dinner @ <a href="/guide">a local restaurant</a>
        p.
          Head out, in small groups, to explore downtown and try one of our
          favorite places.

        h4 Party @ TBA
        p.
          <strong>Django's Tenth Birthday Party!</strong> Details to be
          announced soon. Trust us, it'll be worth the wait.

      .col-md-4
        h3 Sunday, July 12
        h4
          | Sprints @ 
          a(href='https://foursquare.com/v/carnegie-building/4d0108f8ba1da1cd6bea8b28') Carnegie Building
        p.
          Let's make Django better, together.
