extends base.jade

block content
  .main
    .container
      .row
        .col-md-12
          h2 Conference Schedule

      .row
        .col-md-4
          h3 Friday, July 10th
          h4 Arrival
          p.
            Arrive in Lawrence, KS. Meet your fellow attendees, speakers, and
            organizers at a small openning reception.

        .col-md-4
          h3 Saturday, July 11th
          h4 Conference
          ul
            li Breakfast: provided at the conference venue: Liberty Hall.
            li Morning: Some wonderful talks.
            li.
              Lunch: the world's best barbeque (or, for those with diatary
              restrictions, something equally awesome from one of the many
              restaurants in downtown Lawrence).
            li Afternoon: even more outstanding talks.
            li Dinner: in small groups at one of the restaurats in Downtown Lawrence.
            li After: <strong>Django's Tenth Birthday Party!</strong>
          p More details to come...

        .col-md-4
          h3 Sunday, July 12
          h4 Sprints
          p Let's make Django better, together.

  .secondary
