extends base.jade

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h2 Speak at Django Birthday
        p.lead.
          The theme of Django Birthday is a <strong>celebration of the Django
          community.</strong> Do you have a story about what Django or its
          community has meant to you? Come to Lawrence and tell us!

        p.
          Yes, that's a pretty wide open — we want interesting, different
          content, things we might not otherwise see. If you've got a weird
          idea: great! The more off-the-wall, the better. This isn't a technical conference
          (though technical aterial is certainly welcome); It's a community
          event, and a celebration.

        p Surprise us!

        h3 Guidelines
        p We do havea few guidelines to follow:
        ul
          li.
            You can pick any format you'd like: formal talk (with or without)
            slides, a panel, video -- whatever you're most comfortable with.
          li.
            Choose a length between 10 and 30 minutes, whatever feels right for
            your talk and content.
          li.
            You can propose multiple talks, but each speaker will only speak
            once. So if you propose multiple talks, let us know which is your
            "first choice".
          li.
            You're welcome to talk about a company, or a product, or an
            organization -- but only if it's relevent to the theme. Expect
            slightly closer scrutainy if you propose this kind of talk: we'll
            want to talk to you and make sure it's not a sales pitch.
          li.
            All speakers much read and follow our 
            <a href="/conduct">Code of Conduct</a> at all times, including
            (and especially) while on stage.
          li.
            Please let us know if any content or trigger warnings should
            accompany your talk.

        h3 We're here to help!
        p.
          We want you to be successful, and we'll do whatever it takes to
          make your talk awesome. <strong>Please feel free to submit a 
          proposal that's only half- (or eighth-) baked</strong>; we can
          help you finish baking it. We'll provide whatever help you need.

        h3 Timelines
        p.
          Proposals are due <strong>by the end of May</strong>. As long as
          it's May somewhere in the world, you can still submit a talk.
        p.
          We'll let accepted speakers know they're in the first week
          in June.

        h3 Perks
        ul
          li.
            Speakers will receive a <strong>free ticket</strong> to the event 
            (and if you've already bought one, we'll re-imburse you).
          li.
            If you can't afford the travel costs, let us know when you propose
            your talk, and we'll work with you to ensure you can afford to attend.
          li.
            If your employer covers your travel costs, we'll give them a
            sponsorship slot for free.

        h3 Sound like fun?
        p.text-center: a.btn.btn-primary(href="#") Submit a proposal