extends base.jade

block pagetitle
  | Sponsoring - Django Birthday

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h2 Sponsorship
        p.lead.
          We're making this birthday party something to remember, and
          to do that we need your help! If you use Django or our part of the
          Django community please consider sponsoring.

        p
          | Questions about sponsorship? Contact
          a(href="mailto:frank@revsys.com")  Frank Wiles
          |  for more information.

        h3 Sponsorship Levels

        h3 Travel Sponsors - $$$
        p.
          We want speakers and attendees from all parts of the Django community
          and to help make that happen we're raising money to cover travel costs
          for as many people as possible.

        h3 Video Sponsors - $2500

        p.
          Video taping and production costs for an event like this aren't cheap.
          Depending on interest level this may be a single sponsorship or shared
          among a handful of sponsors. You will get prominent placement during
          the event, on the website, and during the pre-roll and credits of the
          videos which will live online long after the event is over.

        h3 Lunch Sponsor - $750

        p.

          Since this will be the first, and quite likely <strong>only</strong>,
          trip to Kansas many of our attendees will make we have to get them
          some KC BBQ.  So the plan is to get Oklahoma Joe's to cater the event,
          Anthony Bourdain listed Joe's one of the top places you have to eat
          before you die.

        h3 Speakers Sponsors - $500

        p.

          Sponsor one of our great speakers.

        h3 Coffee Sponsor - $250 - Limit of 2 spots

        p.

          Mid-morning and mid-afternoon geek fuel.

        h3 After Party Sponsor - $1500

        p.

          Pending some permit approvals we have planned a fun after party.
          We can discuss details about it if you're interested until we have
          all of our ducks in a row and can announce it.

        h3 Birthday Cake Sponsor - $500

        p.
          A birthday party isn't really a birthday party without a cake right?
          Let's get an awesome one. However we have had to promise that we will
          not put any Ponies on it.

        h2 Contact
        p
          | If you have any questions, concerns, or comments don't hesitate to
          | contact
          a(href="mailto:frank@revsys.com")  Frank Wiles
          |  for more information.