extends base.jade

block pagetitle
  | Travel - Django Birthday

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h2 Travel Guide

        p.
          All of the festivities will take place in downtown
          <a href="https://www.google.com/maps/place/Lawrence,+KS/">Lawrence, Kansas</a>,
          within about six blocks. Your mission, then: get yourself to Lawrence!

        p.
          Unless you're a fellow Midwesterner (OHAI!), you'll probably want to
          fly to Django Birthday. You'll fly into
          <a href="http://www.flykci.com/">Kansas City International Airport</a>.
          The airport code is MCI, which we all agree is confusing.

        p.
          From MCI, it's about 45-minute drive to downtown Lawrence.
          <strong>We're working to arrange shuttle services on Friday
          and Sunday/Monday</strong> since once you're in Lawrence you
          won't have much need for a vehicle. We'll update attendees
          (and this page) as soon as we know for sure.

        h3 Hotels &amp; Accommodation
        p.
          The conference venue and party location are both in downtown
          Lawrence, so we highly suggest staying at one of the downtown
          hotels, which will put you within stumbling distance of all
          the events. We recommend one of these hotels:

        h4 When?
        p.
          We highly recommend that you come in on Friday afternoon and leave no 
          earlier than Sunday night &mdash; preferably Monday morning.

        h4 The TownePlace suite
        addr: em 900 New Hampshire Street
        p.
          The TownePlace suite — Lawrence's newest hotel. Please mention the 
          code "<strong>Django Birthday</strong>" for our discounted room 
          rates. Discounted single or double rooms come in at $149/night + tax, 
          with complimentary wifi included. <em>(Offer ends 6/15/2015 or 
          whenever they take the offer off)</em>
        p
          a(href='http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Django%20Birthday%20%5EFOETS%60DBPDBPA%7CDBPDBPB%60149.00%60USD%60false%607/10/15%607/12/15%606/15/15&app=resvlink&stop_mobi=yes') Book now 
          | or 
          a(href='http://www.marriott.com/hotels/travel/foets-towneplace-suites-lawrence-downtown/?app=resvlink') learn more.

        h4 The Springhill Suites
        addr: em One Riverfront Plaza
        p.
          The Springhill Suites — very cool location along the river.
        p
          a(href='http://www.marriott.com/hotels/travel/lwcks-springhill-suites-lawrence/') Book now 

        h4: The Eldridge Hotel
        addr: em 701 Massachusetts Street
        p
          b Update: 
          | All of the affordable rooms are gone so we are pulling our recommendation. 
          strike The historic The Eldridge Hotel — our #1 recommendation. Book fast, it's small and will fill up.
        p
          strike: a(href='http://eldridgehotel.com/') Book now 

        h3 Airbnb
        p.
          Is a hotel not your thing? Use Airbnb to rent a downtown apartment or 
          room. <a href="https://www.airbnb.com/s/Lawrence--KS?checkin=07%2F10%2F2015&checkout=07%2F13%2F2015&ss_id=b5xqi63u">This map</a> 
          shows currenting lists close to Liberty Hall.

        h3 Organise yourselves with our wiki
        p.
          Make your trip easier and more fun by planning some things in
          advance - if you’d like to find a travelling companion or room-mate,
          have a look at
          <a href="http://django-birthday.wikia.com/wiki/Django_Birthday_Wikia">our wiki</a>.
