extends base.jade

block content
  .main
    .container
      .row
        .col-md-8.col-md-offset-2
          h2 Travel Guide
          p
            | You'll be flying into
            a(href="http://www.flykci.com/")  Kansas City International Airport
            |  aka KCI.  Airport code is MCI, which we all agree is confusing.
          p
            | From there it's about a 45 minute drive to downtown Lawrence.
            | If possible we're going to try to work out some shuttle services
            | make this transition easier as once you're in Lawrence you won't
            | really have much of a need for a vehcile.
          h4 Hotels
          p.
            The conference venue and party location are both in downtown
            Lawrence. We suggest booking rooms at the historic Eldridge Hotel,
            the SpringHill Suites, or the TownePlace Suites.  All of which are
            within a couple of blocks of the action.

.secondary