extends base.jade

block pagetitle
  | Travel - Django Birthday

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h2 Travel Guide

        p.
          All of the festivities will take place in downtown
          <a href="https://www.google.com/maps/place/Lawrence,+KS/">Lawrence, Kansas</a>,
          within about six blocks. Your mission, then: get yourself to Lawrence!

        p.
          Unless you're a fellow Midwesterner (OHAI!), you'll probably want to
          fly to Django Birthday. You'll fly into
          <a href="http://www.flykci.com/">Kansas City International Airport</a>.
          The airport code is MCI, which we all agree is confusing.

        p.
          From MCI, it's about 45-minute drive to downtown Lawrence.
          <strong>We're working to arrange shuttle services on Friday
          and Sunday/Monday</strong> since once you're in Lawrence you
          won't have much need for a vehicle. We'll update attendees
          (and this page) as soon as we know for sure.

        h3 Hotels
        p.
          The conference venue and party location are both in downtown
          Lawrence, so we highly suggest staying at one of the downtown
          hotels, which will put you within stumbling distance of all
          the events. We recommend one of these hotels:

        ul
          li.
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Django%20Birthday%20%5EFOETS%60DBPDBPA%7CDBPDBPB%60149.00%60USD%60false%607/10/15%607/12/15%606/15/15&app=resvlink&stop_mobi=yes">The TownePlace suite</a>
            — Lawrence's newest hotel. Please mention the code "<strong>Django Birthday</strong>"
            for our discounted room rates.
          li.
            <a href="http://www.marriott.com/hotels/travel/lwcks-springhill-suites-lawrence/">The Springhill Suites</a>
            — very cool location along the river.
          li.
            The historic <a href="http://eldridgehotel.com/">The Eldridge
            Hotel</a> — our #1 recommendation. Book fast, it's small and
            will fill up.

        h3 Organise yourselves with our wiki
        p.
          Make your trip easier and more fun by planning some things in
          advance - if you’d like to find a travelling companion or room-mate,
          have a look at
          <a href="http://django-birthday.wikia.com/wiki/Django_Birthday_Wikia">our wiki</a>.
