extends ./base.jade

block pagetitle
  | Speaker Name - Django Birthday

block content
  .container
    .row
      .col-sm-4.hidden-xs
        img(src="example.jpg", width="100%", alt="Speaker Name")
      .col-sm-8
        h1 Speaker Name
        p.lead.
          With influences as diverse as Kierkegaard and Miles Davis, new
          insights are distilled from both constructed and discovered dialogues.
        p.
          Ever since I was a postgraduate I have been fascinated by the endless
          oscillation of the mind. What starts out as hope soon becomes debased
          into a dialectic of temptation, leaving only a sense of failing and
          the chance of a new understanding.
        p.thesocial
          +social("globe", "https://example.com/", "website")
          +social("twitter", "https://twitter.com/example", "twitter")
          +social("facebook", "https://facebook.com/example", "facebook")