extends ../base.jade

block pagetitle
  | Talks - Django Birthday

mixin presenter(speakers)
  for speaker, index in speakers
    if speakers.length > 1 && index > 0
      | ,
    | #{speaker.name}

block content
  .container
    .row
      for talk, slug in talks
        if talk.active
          pre
            p Group Name: Django Birthday
            p Event Name: #djangobirthday
            p
              | Presenter(s): 
              +presenter(talk.speakers)
            p Contact email:
            p Title: #{talk.title}
            p Start time:
            p Duration: #{talk.time}
            p Description: #{talk.abstract}
            p Released: yes
